body { 
    margin: 0; 
    padding: 0;
    overflow: hidden;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    
}
.text-overlay{
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url("../assets/misc/black.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    z-index:1;
}
.text-box-cont{
    width: 65vw;
    height: 15vw;
    color: white;
    font-size: 24px;
    margin: auto;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/misc/red_txt.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    
}
.text-box-name{
    display: flex;
    width: 30%;
    height: 30%;
    text-align: center;
    margin-left: 3%;
    align-items: center;
    justify-content: center;
    font-family: "area-normal", sans-serif;
    font-weight: 700;
    font-size: 2vw;
    line-height: 2vw;
    padding-top: 1%;
    position: relative;
}
.text-box-text{
    width: 92%;
    height: 70%;
    font-family: "area-normal", sans-serif;
    font-weight: 700;
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 2%;
    font-size:1.7vw;
    line-height: 2vw;
    white-space: pre-wrap;

}
.text-box-text span{
    opacity: 0;
}
.text-box-text span.revealed{
    opacity: 1;
}
.text-box-text span.narration{
    font-style: italic;
}
.sprite{
    position: absolute;
    width: 25%;
    height: auto;
    bottom: 90%;
    margin-left: 1%;
    z-index: -1;

}
#background-video {
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -3;
}
video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
#black{
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -3;
}
.mother-large {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    position: relative;
    z-index: -1;
} 
.mother-large img {
    max-width: 70%; 
    max-height: 70%; 
    object-fit: contain; 
}
